
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker ###
/.env
/docker-compose.yml
/docker-compose.override.yml
/Makefile
###< docker ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###< project ###
/tests/data/output/
/doc/report/
###< project ###
