<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Data Miner">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="Symfony">
        <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
        <exclude name="Squiz.Commenting.ClassComment.Missing"/>
    </rule>

    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>tests/*</exclude-pattern>
    <exclude-pattern>bin/*</exclude-pattern>
</ruleset>